[submodule "Lab 1"]
	path = Lab 1
	url = https://github.com/CU-CSCI3308-Fall2024/lab-1-initial-set-up-RyanKerwick.git
[submodule "Lab 2"]
	path = Lab 2
	url = https://github.com/CU-CSCI3308-Fall2024/lab-2-git-shell-regex-RyanKerwick.git
[submodule "Lab 3"]
	path = Lab 3
	url = https://github.com/CU-CSCI3308-Fall2024/lab-3-html-css-RyanKerwick.git
[submodule "Lab 4"]
	path = Lab 4
	url = https://github.com/CU-CSCI3308-Fall2024/lab-4-javascript-RyanKerwick.git
[submodule "Lab 5"]
	path = Lab 5
	url = https://github.com/CU-CSCI3308-Fall2024/lab-5-sql-RyanKerwick.git
[submodule "Lab 6"]
	path = Lab 6
	url = https://github.com/CU-CSCI3308-Fall2024/lab-6-nodejs-RyanKerwick.git
[submodule "Lab 7"]
	path = Lab 7
	url = https://github.com/CU-CSCI3308-Fall2024/lab-7-templating-RyanKerwick.git
[submodule "Lab 8"]
	path = Lab 8
	url = https://github.com/CU-CSCI3308-Fall2024/lab-8-web-services-RyanKerwick.git
